nav {
  height: 75.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
}

.bg-1{
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-1 img{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 650px;
  border-radius: 0 0 240px;
}

.hello{
  top: 40%;
width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
}

.hello h2{
  font-weight: bold;
 font-size: 58px;
 margin: 0;
}

.hello p{
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 0;
}

.menu{
  width: 1400px;
  height: 100px;
  background-color: #07866d;
  margin: 0px 251.5px;
  position: relative;
  z-index: 1;
  top: -50px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 32px 0px 32px 0;
}

.menu-in{
  width: 700px;
  display: flex;
  justify-content: center;
}

.menu a{
  padding: 3px 35px 0px;
}

.menu-active{
  display: block;
  padding: 3px 35px 0;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.menu-active::before{
  content: '';
  width: 5px;
  height: 5px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
}

.wrapper{
  padding: 180px 0 160px;
  margin: 0 240px;
  text-align: center;
}

.month{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.month div{
  margin-right: auto;
  display: inline-block;
  border: 1px solid #f4f4f4;
}

.month p{
height: 48px;
line-height: 48px;
padding: 0 20px 0 48px;
background: url(/독도전시관/calendar.png) no-repeat 20px 50% ;
background-size: 20px;
border-right: 1px solid #f4f4f4;
border-left: 1px solid #f4f4f4;
font-size: 20px;
}

.btn-next{
  position: relative;
  height: 48px;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 0;
  transition: all 0.3s ease 0s;
}

.btn-next::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 17px;
  background: url(/독도전시관/next2.png) no-repeat 50% 0;
  background-size: 100%;
  transform: translate(-50%,-50%);
}