nav {
  height: 75.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
}

.bg-1 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-1 img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 650px;
  border-radius: 0 0 240px;
}

.hello {
  top: 40%;
  width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
}

.hello h2 {
  font-weight: bold;
  font-size: 58px;
  margin: 0;
}

.hello p {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 0;
}

.menu {
  width: 1400px;
  height: 100px;
  background-color: #07866d;
  margin: 0px 251.5px;
  position: relative;
  z-index: 1;
  top: -50px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 32px 0px 32px 0;
}

.menu-in {
  width: 700px;
  display: flex;
  justify-content: center;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 3px 35px 0px;
}

.wrapper {
  padding: 180px 0 160px;
  margin: 0;
}

.container {
  text-align: center;
  margin: 0 251.5px;
  padding: 0;
}

.clean {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

.head-btn {
  list-style-type: none;
  margin: 0 0 90px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-btn li:nth-child(2) {
  border: 1px solid #07866d;
}

.active {
  color: #09847f;
  padding: 17px 65px;
  background-color: transparent;
  font-size: 18px;
}

.head-btn button {
  border: 1px solid #ccc;
  background-color: transparent;
  font-size: 18px;
  padding: 17px 65px;
}

.head-btn li {
  margin: 0 6px 0 0;
}

.article-content {
  width: 100%;
}

.title {
  display: block;
  margin: 0px 0px 40px;
  font-weight: 600;
  font-size: 37px;
}

.title span {
  color: #07866d;
}

.sub-title {
  margin: 0;
  line-height: 1.7;
  font-size: 17px;
}

table {
  margin: 60px auto 100px;
  width: 1000px;
}

th {
  border-bottom: 1px solid #ddd;
  border-right: #ddd 1px solid;
  border-top: 1px solid #000;
  font-weight: bold;
  font-size: 17px;
  width: 250px;
  background-color: #f7f7f7;
  color: #444;
  padding: 15px;
}

td {
  padding: 15px;
  font-size: 17px;
  border-bottom: 1px solid #ddd;
  border-right: #ddd 1px solid;
}

th:nth-child(4) {
  border-right: none;
}

td:nth-child(4) {
  border-right: none;
}

.info {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 0 0;
  gap: 26px;
}

.info li {
  padding: 27px 28px;
  border: 1px solid #eee;
  border-radius: 0 0 14px 0;
}

.info b {
  text-align: left;
  display: block;
  font-size: 18px;
  padding: 0 0 15px;
}

.info p {
  text-align: left;
  font-size: 13px;
  display: block;
  margin: 0;
}

.map-pic {
  width: 100%;
  height: 760px;
  background: url(독도지형과지명.png) no-repeat;
  background-size: cover;
  margin: 60px 0 25px;
}

.footer-content{
  color: #737373;
  font-size: 17px;
  text-align: center;
}

.bottom-pic{
  display: flex;
  border-radius: 240px 0 0 0;
  width: 100%;
  height: 680px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
}

.bot-img{
  border-radius: 240px 0 0 0;
  width: 100%;
  position: relative;
  z-index: -1;
}

.bot-main{
  display: block;
  position: relative;
  top: 400px;
  z-index: 1;
}

.bot-main img{
 position: relative;
 right: -45%;
}

.bot-p{
  display: block;
  margin: 0;
  color: white;
  font-size: 26px;
  text-align: center;
}

.bottom-content{
  background-color:#020308;
padding: 40px 251.5px 60px;
}

.content-ul1{
  color: white;
  display: flex;
  margin: 0;
  gap: 32px;
  margin-bottom: 15px;
  font-size: 13px;
  padding: 0;
}

.content-ul1 a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.content-ul2{
  font-size: 13px;
  list-style-type: none;
  display: flex;
  color: white;
  margin-bottom: 15px;
  padding: 0;
}

.content-ul2 :nth-child(1){
  margin-right: 19px;
}

.bottom-content p{
  font-size: 15px;
  padding-top: 15px;
  color: #fff;
}