nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
}

.navbar {
  background-color: transparent;
}


.middle-p {
  padding: 50px 0 90px;
  margin: 0;
  font-size: 18px;
}
.article{
  padding: 110px 0;
  clear: both;
  display: block;
}

.article-wrap{
  display: flex;
  width: 1400px;
  margin: 0 auto;
}
.middle-a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  border: 3px solid white;
  padding: 21px 40px;
  border-radius: 32px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
}

.carousel-control-prev {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.carousel-control-next {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.c-item{
  height: 100%;
  border-radius: 0 0 160px 0;
}

.notice-inn{
  position: relative;
  box-sizing: border-box;
  min-height: 400px;
  margin: 0;
  padding: 0;
  justify-content: right;
}
.left-sect{
  width: 100%;
}
.card-body{
  width: 35%;
  position: relative;
  box-sizing: border-box;
  padding-right: 30px;
}

.left-sect h5{
  font-size: 44px;
  padding: 70px 0 35px;
  color: #000;
  line-height: 1;
}

.header-btn {
  z-index: 3;
  border-radius: 50%;
  display: flex;
  background-color: #09847f;
  width: 160px;
  height: 160px;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: -80px;
  right: 200px;
}

.header-btn p {
  text-align: center;
  margin: 0;
}

.middle {
  padding: 110px 0px;
  display: flex;
  justify-content: center;
}

.middle-a:hover{
  background-color: #09847f;
}

.main {
  width: 700px;
  height: 445.45px;
}

.guide-info:hover{
  background-color: #403e4b;
}

.go-page:hover{
  color: #fff;
  background-color: #09847f;
}

.content {
  background-color: #f8f8f8;
  padding: 80px 75px 30px;
  border-radius: 32px;
}

.content h3 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.content p {
  margin: 0;
  padding: 30px 0 85px;
  font-size: 17px;
}

.content a {
  text-decoration: none;
  color: #09847f;
  font-weight: bolder;
  padding: 15px 39px;
  border: 2px solid #09847f;
  border-radius: 32px;
  width: 172.58px;
  height: 61.5px;
}

.content2 {
  padding: 80px 75px 30px 135px;
}

.content2 h3 {
  font-weight: bold;
}

.second-div {
  width: 490px;
  height: 109px;
  margin: 0 0 30px;
  padding: 30px 0 10px;
}

.second-div strong {
  margin: 0 25px 0 63.375px;
  font-size: 28.45px;
  font-weight: bold;
}

.second-div a {
  font-size: 14px;
  font-weight: bold;
  background-color: #76777e;
  color: white;
  text-decoration: none;
  padding: 10px 28px;
  border-radius: 24px;
}
.list_bullet {
  padding: 0;
  margin: 0;
}

.list_bullet p {
  margin: 0;
  line-height: 32px;
}

.list_bullet li {
  list-style: none;
  display: flex;
  width: 490px;
  height: 86.67px;
  word-break: keep-all;
  position: relative;
  padding-left: 15px;
}

.list_bullet strong {
  font-weight: bold;
  font-size: 16px;
  width: 122.56px;
  padding: 0 50px 0 0;
}

.list_bullet span {
  font-size: 15px;
  font-weight: bold;
  color: #999999;
}

.li-2 {
  margin-top: 12px;
}

.li-3 {
  margin-top: 12px;
}

.carousel-wrapper{
  position: absolute;
  right: 0;
}

.carousel1{
  width: 393.06px;
  height: 521.67px;
  padding: 52px 44px;
  background-color: #f5f5f8;
  border-radius: 16px;
}

.carousel1 img{
  border-radius: 16px;
  margin: 0 0 40px;
}

.carousel1 a{
  border: #09847f 1px solid;
  border-radius: 24px;
  padding: 4px 13px;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}

.carousel1 strong{
  display: block;
  font-size: 17px;
  padding: 20px 0 25px;
}

.carousel1 p{
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.carousel-wrapper{
  display: flex;
  width: 75%;
  gap: 32px  ;
  position: relative;
  z-index: 1;
  right: 0;
}

.carousel2{
  width: 521px;
  height: 524px;
  position: relative;
  background-color: #fff;
  padding-right: 30px;
}

.carousel2 h3{
  font-size: 44px;
  font-weight: bold;
  padding: 70px 0 35px;
  margin: 0;
}

.carousel2 p {
  font-size: 17px;
  padding: 0;
  margin: 0;
  line-height: 1.7;
}

.carousel-btn2{
  display: flex;
  width: 140px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.carousel2 button{
  width: 50px;
  height: 50px;
  position: relative;
}

#carouselExampleAutoplaying{
  display: flex;
  position: relative;
  z-index: -1;
  justify-content: center;
  padding: 0 0 143px;
}

.circle{
  display: block;
  border-radius: 50%;
  width: 198px;
  height: 198px;
  border: #09847f solid 52px;
  position: relative;
  z-index: -1;
  left: 99px;
  top: -99px;
}

.bottom-card{
  justify-content: space-between;
  display: flex;
  background-color: #09847f;
  width: 700px;
  height: 235px;
  padding: 70px 85px;
  border-radius: 72px 0 0 72px;
  border-right:1px solid #3aaca1 ;
}

.bottom-card a{
  text-decoration: none;
}

.bottom-card2 a{
  text-decoration: none;
}

.bottom-card h3{
  font-weight: bold;
  font-size: 28px;
  color: white;
  padding: 0 0 16px;
  margin: 0;
}

.bottom-card p {
  font-size: 17px;
  color: white;
  margin: 0;
  padding: 0;
}

.bottom-card2{
  background-color: #09847f;
  width: 700px;
  height: 235px;
  border-radius:0 72px 72px 0;
  padding: 70px 85px;
  display: flex;
  justify-content: space-between;
}

.bottom-card2 h3{
  font-weight: bold;
  font-size: 28px;
  color: white;
  padding: 0 0 16px;
  margin: 0;
}

.bottom-card2 p{
  font-size: 17px;
  color: white;
  margin: 0;
  padding: 0;
}

.bottom-container{
  top: 240px;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
}

.bottom-pic{
  display: flex;
  border-radius: 240px 0 0 0;
  width: 100%;
  height: 680px;
  background-color: rgba(0, 0, 0, 0.7);
}

.bot-img{
  border-radius: 240px 0 0 0;
  width: 100%;
  position: relative;
  z-index: -1;
}

.bot-main{
  display: block;
  position: relative;
  top: 400px;
  z-index: 1;
}

.bot-main img{
 position: relative;
 right: -45%;
}

.bot-p{
  display: block;
  margin: 0;
  color: white;
  font-size: 26px;
  text-align: center;
}

.bottom-content{
  background-color:#020308;
padding: 40px 251.5px 60px;
}

.content-ul1{
  color: white;
  display: flex;
  margin: 0;
  gap: 32px;
  margin-bottom: 15px;
  font-size: 13px;
  padding: 0;
}

.content-ul1 a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.content-ul2{
  font-size: 13px;
  list-style-type: none;
  display: flex;
  color: white;
  margin-bottom: 15px;
  padding: 0;
}

.content-ul2 :nth-child(1){
  margin-right: 19px;
}

.bottom-content p{
  font-size: 15px;
  padding-top: 15px;
  color: #fff;
}