nav {
  height: 75.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
}

.bg-1{
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-1 img{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 650px;
  border-radius: 0 0 240px;
}

.hello{
  top: 40%;
width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
}

.hello h2{
  font-weight: bold;
 font-size: 58px;
 margin: 0;
}

.hello p{
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 0;
}

.menu {
  width: 1400px;
  height: 100px;
  background-color: #07866d;
  margin: 0px 251.5px;
  position: relative;
  z-index: 1;
  top: -50px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 32px 0px 32px 0;
}

.menu-in {
  width: 700px;
  display: flex;
  justify-content: center;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 3px 35px 0px;
}

.wrapper {
  padding: 180px 0 160px;
  margin: 0;
}

.container {
  text-align: center;
  margin: 0 251.5px;
  padding: 0;
}

.head-btn {
  list-style-type: none;
  margin: 0 0 90px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-btn li:nth-child(3) {
  border: 1px solid #07866d;
}

.active {
  color: #09847f;
  padding: 17px 65px;
  background-color: transparent;
  font-size: 18px;
}

.head-btn button {
  border: 1px solid #ccc;
  background-color: transparent;
  font-size: 18px;
  padding: 17px 65px;
}

.head-btn li {
  margin: 0 6px 0 0;
}

.title {
  display: block;
  margin: 0px 0px 40px;
  font-weight: 600;
  font-size: 37px;
}

.title span {
  color: #07866d;
}

.sub-title {
  margin: 0;
  line-height: 1.7;
  font-size: 17px;
}

.title-p{
  font-size: 17px;
  padding: 0;
  margin: 30px 0 0;
}

.title-first{
  font-size: 17px;
  padding: 0;
  margin: 0;
}