nav {
  height: 75.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
}

.bg-1{
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-1 img{
  height: 650px;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 0 0 240px;
}

.hello{
  top: 40%;
width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
}

.hello h2{
  font-weight: bold;
 font-size: 58px;
 margin: 0;
}

.hello p{
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 0;
}

.menu{
  width: 1400px;
  height: 100px;
  background-color: #07866d;
  margin: 0px 251.5px;
  position: relative;
  z-index: 1;
  top: -50px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 32px 0px 32px 0;
}

.menu-in{
  width: 700px;
  display: flex;
  justify-content: center;
}

.menu a{
  padding: 3px 35px 0px;
}

.wrapper{
padding: 180px 0 160px;
display: flex;
justify-content: center;
}

.content{
  height: 841.27px;
  width: 100%;
  margin: 0 251.5px;
}

.content iframe{
  height: 500px;
  width: 100%;
}

.square{
  width: 300px;
  height: 300px;
  background-color: #393846;
  padding: 50px;
  box-shadow: 0 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  bottom: 150px;
}

.square p{
  font-size: 17px;
  color: #aaaaaa;
  margin: 0;
}

.square b{
  font-size: 38px;
  color: #fff;
}

.big-map{
  height: 26px;
  width: 93.95px;
  display: block;
  background-color: #fff;
  padding: 5px 14px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px -1px;
  position: relative;
  left: 16px;
  top:36px;
}

.big-map a{
  color: #1a73e8;
  text-decoration: none;
font-size: 11px;
}

.main{
  display: flex;
}

.info-head{
  list-style: none;
  display: flex;
  margin: 0;
  padding-top: 20px;
}


.information{
  width: 890px;
  padding: 0;
  display: block;
  height: 182.38px;
  margin-left: 510px;
  margin-top: 100px;
  position: relative;
  top: -300px;
  margin-bottom: 0;
  height: 182.38px;
} 

li p{
  font-size: 18px;
  margin: 0;
}

.title{
  width: 133.5px;
  height: 30.59px;
  font-size: 18px;
}

p b{
  font-size: 18px;
}

.bottom-pic{
  display: flex;
  border-radius: 240px 0 0 0;
  width: 100%;
  height: 680px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
}

.bot-img{
  border-radius: 240px 0 0 0;
  width: 100%;
  position: relative;
  z-index: -1;
}

.bot-main{
  display: block;
  position: relative;
  top: 400px;
  z-index: 1;
}

.bot-main img{
 position: relative;
 right: -45%;
}

.bot-p{
  display: block;
  margin: 0;
  color: white;
  font-size: 26px;
  text-align: center;
}

.bottom-content{
  background-color:#020308;
padding: 40px 251.5px 60px;
}

.content-ul1{
  color: white;
  display: flex;
  margin: 0;
  gap: 32px;
  margin-bottom: 15px;
  font-size: 13px;
  padding: 0;
  align-items: center;
}

.content-ul1 a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.content-ul2{
  font-size: 13px;
  list-style-type: none;
  display: flex;
  color: white;
  margin-bottom: 15px;
  padding: 0;
}

.content-ul2 :nth-child(1){
  margin-right: 19px;
}

.bottom-content p{
  font-size: 15px;
  padding-top: 15px;
  color: #fff;
}