nav {
  height: 115.59px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
}

.bg-1{
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-1 img{
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 0 0 240px;
}

.menu{
  width: 1400px;
  height: 100px;
  background-color: #07866d;
  margin: 0px 251.5px;
  position: relative;
  z-index: 1;
  top: -50px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 32px 0px 32px 0;
}

.menu-in{
  width: 700px;
  display: flex;
  justify-content: center;
}

.menu a{
  padding: 3px 35px 0px;
}

.wrapper{
  margin: 0px 251.5px;
  padding: 180px 0 160px;
}

.title{
  text-align: center;
}

.title p{
  font-size: 17px;
  margin: 0;
}

.title strong{
  font-size: 46px;
  margin-bottom: 40px;
}

.main{
  margin-top: 100px;
}


.item-1{
  display: flex;
}

.item-1 p{
  margin: 0;
  width: 700px;
}

dl{
  margin: 0;
  padding: 40px 0 0 86px;
  width: 700px;
}

dt{
  margin-bottom: 20px;
  color: #07866d;
  font-size: 40px;
}

dd{
  display: flex;
  margin-bottom: 0;
  margin-top: 15px;
  width: 614px;
}

b{
  font-size: 18px;
  width: 170px;
}

span{
  font-size: 16.5px;
}

.item-2{
  margin-top: 50px;
  display: flex;
}

.item-2 p{
  margin: 0;
  width: 700px;
}

.bottom-pic{
  display: flex;
  border-radius: 240px 0 0 0;
  width: 100%;
  height: 680px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
}

.bot-img{
  border-radius: 240px 0 0 0;
  width: 100%;
  position: relative;
  z-index: -1;
}

.bot-main{
  display: block;
  position: relative;
  top: 400px;
  z-index: 1;
}

.bot-main img{
 position: relative;
 right: -45%;
}

.bot-p{
  display: block;
  margin: 0;
  color: white;
  font-size: 26px;
  text-align: center;
}

.bottom-content{
  background-color:#020308;
padding: 40px 251.5px 60px;
}

.content-ul1{
  color: white;
  display: flex;
  margin: 0;
  gap: 32px;
  margin-bottom: 15px;
  font-size: 13px;
  padding: 0;
}

.content-ul1 a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.content-ul2{
  font-size: 13px;
  list-style-type: none;
  display: flex;
  color: white;
  margin-bottom: 15px;
  padding: 0;
}

.content-ul2 :nth-child(1){
  margin-right: 19px;
}

.bottom-content p{
  font-size: 15px;
  padding-top: 15px;
  color: #fff;
}