
.carousel{
  display: flex;
  position: relative;
  box-sizing: border-box;
  min-height: 400px;
}

.left-content{
  width: 35%;
  position: relative;
  box-sizing: border-box;
  padding-right: 30px;
  display: block;
}

.left-content h3{
  font-size: 44px;
  padding: 70px 0 35px;
  line-height: 1;
  color: #000;
}

.left-content p{
  color: #555;
  margin: 0;
  padding: 0;
  display: block;
}

.left-content div{
  background-color: #434250;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .5s;
  bottom: 80px;
  top: inherit;
}

.next{
  right: inherit;
  left: 75px;
  position: absolute;
  margin-top: calc(-1*var(--swiper-navigation-size)/ 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.next::after{
  content: 'next';
  font-size: 12px;
  font-weight: bold;
  font-family:"swiper-icons";
    font-size: var(--swiper-navigation-size);
    color: #fff;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
}


.prev{
  position: absolute;
  margin-top: calc(-1*var(--swiper-navigation-size)/ 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.prev::after{
  font-size: 12px;
  font-weight: bold;
  content: 'prev';
  font-family:"swiper-icons";
    font-size: var(--swiper-navigation-size);
    color: #fff;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
}

.swiper{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  transform: translate3d(0px,0px,0px);
  transition: 0ms;
}

.swiper-slide{
  width: 307px;
  margin-right: 25px;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide a{
  padding: 30px;
  border-radius: 13px;
  background-color: #f5f5f8;
  padding: 52px 44px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
}

.swiper-slide a:link{
  text-decoration: none;
  color: #444;
}

.img1{
  margin-bottom: 40px;
  background: #e2e2e2 url(/독도전시관/독도카드2.png) center bottom no-repeat;
  min-height: 150px;
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 50%;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.tag-news{
  border-color: #09847f;
  color: #09847f;
  border: 1px solid;
  padding: 4px 13px;
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block !important;
  border-radius: 15px;
  font-weight: 600;
  font-style: normal;
}

.swiper-slide strong{
  padding: 20px 0 25px;
  font-size: 19px;
  font-weight: normal;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1;

}

.swiper-slide p{
  color: #555;
  margin: 0;
  padding: 0;
}

.img2{
  margin-bottom: 40px;
  background: #e2e2e2 url(/독도전시관/독도카드.png) center bottom no-repeat;
  min-height: 150px;
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 50%;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.img3{
  margin-bottom: 40px;
  background: #e2e2e2 url(/독도전시관/독도카드1.png) center bottom no-repeat;
  min-height: 150px;
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 50%;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.img4{
  margin-bottom: 40px;
  background: #e2e2e2 url(/독도전시관/독도카드3.png) center bottom no-repeat;
  min-height: 150px;
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 50%;
  height: 200px;
  overflow: hidden;
  width: 100%;
}