* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.head-nav {
  width: 100%;
  display: flex;
  background: #ffef00;
  color: #000;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
  align-items: center;
  position: absolute;
  z-index: 1;
  float: top;
}

.title {
  cursor: pointer;
  color: #000;
  font-family: fantasy;
  font-size: 56px;
  font-weight: 600;
}

.title:hover {
  color: #f02e00;
}

.Menu {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.Menu:hover {
  color: #f02e00;
}

.Menu img {
  cursor: pointer;
  padding-right: 8px;
  height: 24px;
}

.account {
  display: flex;
  align-items: center;
}

.Log-in {
  display: flex;
  border: #000 3px solid;
  color: #000;
  width: 150px;
  height: 50px;
  border-radius: 32px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.Log-in:hover {
  border: 3px solid #f02e00;
  color: #f02e00;
}

.Join {
  margin: 16px;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Join:hover {
  font-weight: bold;
  color: #f02e00;
}

.wrapper {
  padding-top: 120px;
  display: block;
  background-image: url(/image/equalizer-153212_1280.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  cursor: pointer;
  background-color: #ffef00;
  border-radius: 32px;
  width: 320px;
  height: 320px;
  display: inline-block;
  box-shadow: 0 0 8px 8px;
  justify-content: center;
  text-decoration: none;
}

.icon:visited {
  color: #000000;
}

.icon img {
  cursor: pointer;
  margin: 0 32px;
  width: 80%;
  height: 80%;
  margin-top: 16px;
}

.icon P {
  cursor: pointer;
  font-family: fantasy;
  font-size: 24px;
  text-align: center;
}

.icon P:hover {
  color: #f02e00;
}

.wrapper2 {
  display: block;
  background-image: url(/image/배경화면2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  justify-content: center;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.search input {
  margin: 0;
  background-color: #fff;
  border: #ffef00 3px solid;
  color: #000;
  width: 560px;
  height: 80px;
  border-radius: 32px;
  font-size: 16px;
  padding: 16px;
}

.search button {
  background-color: #ffef00;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 60px;
  border-radius: 16px;
}

.search button:hover {
  color: #f02e00;
}

.checkbox {
  display: block;
  justify-content: center;
  width: 100%;
  height: 360px;
  border: none;
  margin-top: 56px;
}

.choice-box {
  background-color: #ffef00;
  display: inline-block;
  width: 560px;
  height: 160px;
  align-items: center;
  border-radius: 32px;
  opacity: 0.9;
}

.choice {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.checkbox label {
  font-size: 16px;
  margin-right: 24px;
}

.choice input {
  margin-right: 8px;
}

.foot-item {
  display: block;
}

.popular {
  width: 100%;
  display: block;
}

.popular nav {
  width: 100%;
  display: flex;
  background-color: #ffef00;
  height: 80px;
  align-items: center;
  padding: 0 56px;
  border-radius: 32px;
  justify-content: space-around;
}

.popular nav p {
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
}

.foot-middle {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.popular-list {
  background-color: #fff;
  padding: 32px;
  margin-top: 16px;
  border-radius: 16px;
}

.popular-items {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0 56px;
  height: 240px;
  cursor: pointer;
  justify-content: space-around;
  border-bottom: 1px solid #d9d9d9;
}

.popular-number {
  left: 0;
  width: 25px;
  font-size: 48px;
  font-weight: bold;
  font-family: fantasy;
}

.popular-title img {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 16px;
}

.popular-title {
  left: 0;
  width: 525px;
  height: 120px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.popular-singer {
  left: 0;
  width: 300px;
  font-size: 24px;
  font-weight: bold;
}

.popular-change {
  left: 50%;
  width: 30px;
  font-size: 24px;
  font-weight: bold;
}

.popular-items:last-child {
  border-bottom: none;
}

.next-page {
  align-items: center;
  margin-top: 32px;
  justify-content: center;
  display: flex;
  text-align: center;
  color: #ffef00;
}

.next-page a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 24px;
  font-family: fantasy;
  width: 30px;
  height: 30px;
}

.next-page a:hover {
  width: 40px;
  height: 40px;
  border: 2px solid #f02e00;
  color: #f02e00;
}

.next-page a:last-child {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffef00;
}

.next-page a:first-child {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffef00;
}
